* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.laptop {
    background-color: seagreen;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;

}

p {
    font-size: 20px;
}
.cars {
    margin-right: 10px;
}
.mark {
    background-color: blue;
}
.model {
    background-color: aqua;
}
.year {
    background-color: aqua;
}
.price {
    background-color: blueviolet;
}